.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  gap: 32px;
  background-color: #f5f0e4;

  &__title {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #166d6d;
    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    max-width: 850px;
    text-align: center;
    line-height: 1.7;
    color: #214e4e;
    margin-bottom: 32px;
  }

  hr {
    width: 500px;
    height: 2px;
    background-color: #166d6d;
    margin-bottom: 32px;
    border: none;
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 1200px;

    .img-1 {
      flex-basis: 40%;
    }
  }

  &__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0 10px;
    color: #166d6d;
  }
}

@media (max-width: 1550px) {
  .about {
    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 18px;
      padding: 0px 16px;
    }
  }
}

@media (max-width: 1300px) {
  .about {
    gap: 12px;
    padding: 16px 0px;
    &__title {
      font-size: 28px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 15px;
    }

    &__images {
      .img-1 {
        flex-basis: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .about {
    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
