.dayuse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f5f0e4;

  &__image {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    color: #166d6d;
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    max-width: 850px;
    color: #166d6d;
    text-align: center;
    margin-bottom: 40px;
  }

  &__infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__info_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 32px;
    gap: 8px;
    min-width: 220px;

    background-color: #ffffff;
    border: 1px solid #d6d2c4;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(22, 109, 109, 0.08);
  }

  &__info_title {
    font-size: 20px;
    color: #166d6d;
  }

  &__info_text {
    font-size: 16px;
    color: #03200b;
  }

  &__instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__instruction_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    min-width: 400px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(22, 109, 109, 0.08);
    background-color: #ffffff;
    padding: 24px 32px;
  }

  .included {
    border: 2px solid #94c1b4;
  }

  .not_included {
    border: 2px solid #e3a8a8;
  }

  &__instruction_title {
    color: #166d6d;
    font-size: 20px;
    padding-bottom: 16px;
  }

  &__instruction_text {
    font-size: 16px;
    color: #03200b;
    padding-bottom: 8px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    gap: 40px;
  }

  &__contact_title {
    font-size: 32px;
    color: #166d6d;
  }

  &__contact_button {
    font-size: 20px;
    color: #ffffff;
    background-color: #166d6d;

    padding: 12px 24px;
    border-radius: 22px;
    text-decoration: none;
    border: 2px solid #166d6d;
    transition: background-color 0.3s;

    &:hover {
      color: #166d6d;
      background-color: #ffffff;
    }
  }
}

@media (max-width: 1700px) {
  .dayuse {
    &__title {
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 32px;
    }

    &__text {
      font-size: 24px;
      max-width: 850px;
      margin-bottom: 40px;
    }

    &__content {
      gap: 16px;
      padding: 64px;
    }

    &__instruction_item {
      min-width: auto;
    }
  }
}

@media (max-width: 1355px) {
  .dayuse {
    &__title {
      font-size: 28px;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 1124px) {
  .dayuse {
    &__content {
      width: 100%;
      padding: 16px;
      gap: 12px;
    }

    &__infos {
      margin-bottom: 0;
    }

    &__instructions,
    &__infos {
      flex-direction: column;
      gap: 12px;
    }

    &__instruction_item,
    &__info_item {
      min-width: none;
      width: 350px;
    }

    &__contact {
      margin-top: 4px;
    }
  }
}

@media (max-width: 700px) {
  .dayuse {
    flex-direction: column;
    align-items: center;

    &__image {
      width: 0;
      height: 0;
    }

    &__content {
      width: 100%;
      gap: 24px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 8px;
    }

    &__infos,
    &__instructions {
      flex-direction: column;
      gap: 20px;
    }

    &__info_item,
    &__instruction_item {
      padding: 16px 24px;
    }

    &__info_title,
    &__instruction_title {
      font-size: 16px;
    }

    &__info_text,
    &__instruction_text {
      font-size: 14px;
    }

    &__instruction_title {
      padding-bottom: 8px;
    }

    &__instruction_text {
      padding-bottom: 4px;
    }

    &__contact_button {
      font-size: 16px;
      padding: 8px 20px;
    }
  }
}
