.waveDivider {
  width: 100%;
  background-color: #f5f0e4; // fundo da página
  overflow: hidden;
  line-height: 0; // remove espaços indesejados

  .waveImage {
    display: block;
    width: 100%;
    height: auto;
  }
}
